<div class="form">
  <h2>Add a new log</h2>
  <form class="example-form">
    <table class="example-full-width" ><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Issue</mat-label>
        <label>
          <input matInput #issue>
        </label>
      </mat-form-field></td>
    </tr></table>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Fix</mat-label>
        <label>
          <textarea matInput placeholder="Ex. Reboot machine" #fix></textarea>
        </label>
      </mat-form-field>
    </p>
  </form>
  <button mat-button color="primary" class="addLogButton"
          (click)="add(issue.value,fix.value); issue.value=''; fix.value=''" >ADD</button>
</div>
