.main{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.form{
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.issueForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addLogButton{
  background-color: #cdcdcd;
}

.buttons{

  background-color: bisque;


}



