body{
  padding: 10px;
  margin: 0;
  font-palette: light;
}
.logList{
  /*display: inline;*/
  /*float: left;*/
  /*align-items: center;*/
  /*padding-left: 20px;*/
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  gap: 1rem;
  width: border-box;
}

.card{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  /*color: white;*/
  min-height: 250px;
  height: auto;
  width: auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: #f6f4ed;
  box-shadow: 0rem 0 0.5rem rgba(0,0,0,0.53);

  transition: .2s;

}

.card:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}


