body{
  padding: 10px;
  margin: 0;
  font-palette: light;
}
.logList{
  /*display: inline;*/
  /*float: left;*/
  /*align-items: center;*/
  /*padding-left: 20px;*/
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  gap: 1rem;
  width: border-box;
}

.card{

  display: flex;
  flex-direction: column;
  color: white;
  min-height: 250px;
  height: auto;
  width: auto;

  padding: 2rem;

  border-radius: 16px;
  background-color: #222230;
  box-shadow: -2rem 0 3rem rgba(0,0,0,0.53);

  transition: .2s;

}

.card:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}

