<body>
<mat-toolbar class="toolbar">
  <div>
    <span><button class="toolbarButtons" routerLink="/home" routerLinkActive="active" mat-button>Home</button></span>
    <span><button class="toolbarButtons" routerLink="/logs" routerLinkActive="active"
                  mat-button>View Logs</button></span>
    <span><button class="toolbarButtons" routerLink="/logger" routerLinkActive="active" mat-button>Log an Issue</button></span>
  </div>
  <h1 class="logo">TECHLOGGER</h1>
</mat-toolbar>

<div class="route">
  <router-outlet></router-outlet>
  <footer>
    <p>Saad Imran</p>
  </footer>
</div>
</body>



