<mat-toolbar color="primary">
  <mat-toolbar-row color="accent">TECHLOGGER</mat-toolbar-row>
</mat-toolbar>
<mat-tab-group mat-align-tabs="start" >
  <mat-tab label="Home" routerLink="/home" routerLinkActive="active">
    <app-dashboard></app-dashboard>
  </mat-tab>
  <mat-tab label="Edit" routerLink="/logs" routerLinkActive="active">
    <app-logs-view></app-logs-view>
  </mat-tab>
  <mat-tab label="Add" routerLink="/logger" routerLinkActive="active">
    <app-logger class="logger"></app-logger>
  </mat-tab>
</mat-tab-group>

<!--<button routerLink="/home" routerLinkActive="active" mat-raised-button color="accent">Home</button>-->
<!--<button mat-raised-button routerLink="/logger" routerLinkActive="active" color="warn">Log an Issue</button>-->

<!--&lt;!&ndash; The routed views render in the <router-outlet>&ndash;&gt;-->
<!--<router-outlet></router-outlet>-->
