body{
  background-color: #100d13;
}
.route{
  background-color: #100d13;
}

/*.toolbar{*/
/*  background-color: #693992;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  padding: 10px;*/
/*}*/

.logo{
  color: bisque;
  border-style: solid;
  border-color: bisque;
  border-radius: 5px;
  padding: 5px;
}
.toolbar{
  padding: 40px;
  justify-content: space-between;
  background-color: #693992;
}

.toolbar>span{
  padding: 1rem;
}
.toolbarButtonsDiv{
  display: flex;
  flex-direction: row;
}

.toolbarButtons{
  min-width: 150px;
  min-height: 50px;
  border-radius: 5px;
  margin-left: 3px;
}

