<body>
<mat-toolbar color="primary">
  <nav class="toolbar">
    TECHLOGGER
    <span>
      <button routerLink="/home" routerLinkActive="active" mat-raised-button >Home</button>
      <button mat-raised-button routerLink="/logs" routerLinkActive="active">View Logs</button>
      <button mat-raised-button routerLink="/logger" routerLinkActive="active">Log an Issue</button>
    </span>

  </nav>
</mat-toolbar>

<!--&lt;!&ndash;<mat-tab-group mat-align-tabs="start" >&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-tab label="Home" routerLink="/home" routerLinkActive="active">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-dashboard></app-dashboard>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-tab label="Edit" routerLink="/logs" routerLinkActive="active">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-logs-view></app-logs-view>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-tab label="Add" routerLink="/logger" routerLinkActive="active">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-logger class="logger"></app-logger>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-tab>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-tab-group>&ndash;&gt;-->

<!-- The routed views render in the <router-outlet>-->
<div class="route">
  <router-outlet></router-outlet>
</div>
</body>


