<div class="main">

  <div class="container" @fade>
<!--    <table mat-table [dataSource]="logs" class=" table table-responsive-sm">-->

<!--      &lt;!&ndash; Position Column &ndash;&gt;-->
<!--      <ng-container class=" col-1" matColumnDef="id">-->
<!--        <th mat-header-cell *matHeaderCellDef> ID </th>-->
<!--        <td mat-cell *matCellDef="let element; let i=index" class="tableColumn"> {{i+1}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Name Column &ndash;&gt;-->
<!--      <ng-container class="col-2" matColumnDef="issue">-->
<!--        <th mat-header-cell *matHeaderCellDef> Issue </th>-->
<!--        <td mat-cell *matCellDef="let element" class="tableColumnText"> {{element.issue}}.{{element.key}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--      <ng-container class="col-1" matColumnDef="fix" >-->
<!--        <th mat-header-cell *matHeaderCellDef> Fix </th>-->
<!--        <td mat-cell *matCellDef="let element" class="text-justify tableColumnText"> {{element.fix}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--      <ng-container class="col-1" matColumnDef="os">-->
<!--        <th mat-header-cell *matHeaderCellDef> Operating System </th>-->
<!--        <td mat-cell *matCellDef="let element" class="tableColumn"> {{element.os}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Button Column &ndash;&gt;-->
<!--      <ng-container class="col-1" matColumnDef="buttons">-->
<!--        <th mat-header-cell *matHeaderCellDef>  </th>-->
<!--        <td mat-cell *matCellDef="let element" class="tableColumn">-->
<!--          <div class="buttonColumn">-->
<!--            <button mat-raised-button (click)="openDialog(element)">EDIT</button>-->
<!--            <button (click)="openDeleteDialog(element)" mat-raised-button>DELETE</button>-->
<!--          </div>-->
<!--        </td>-->
<!--      </ng-container>-->

<!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>-->

<!--    </table>-->

    <table class="row table table-responsive">
      <thead>
      <tr class="col">
        <th scope="col">ID</th>
        <th scope="col">Issue</th>
        <th scope="col">Fix</th>
        <th scope="col">OS</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="">
      <tr class="" *ngFor="let log of logs; let i = index">
        <th class="text-center text-justify" scope="col">{{i+1}}</th>
        <td class="col ">{{log.issue}}</td>
        <td class="col text-justify">{{log.fix}}</td>
        <td class="col text-justify">{{log.os}}</td>
        <td class="col text-justify">
          <div class="col button container">
            <button class="text-justify text-center col" mat-raised-button (click)="openDialog(log)">EDIT</button>
            <button class="text-justify text-center col" (click)="openDeleteDialog(log)" mat-raised-button>DELETE</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
